<div class="doc-section py-2 flex justify-end font-sans" :style="'color: ' + theme.text">
    <div class="w-60">
        <div class="flex justify-between text-xs py-1 opacity-60">
            <span>Subtotal</span>
            <span x-text="'$' + subtotal.toFixed(2)"></span>
        </div>
        <div class="flex justify-between text-xs py-1 opacity-60">
            <span>Tax (8%)</span>
            <span x-text="'$' + tax.toFixed(2)"></span>
        </div>
        <div x-show="addedTotal > 0" class="flex justify-between text-xs py-1 opacity-60">
            <span>Upsell Add-ons</span>
            <span x-text="'$' + addedTotal.toFixed(2)"></span>
        </div>
        
        <div class="flex justify-between mt-3 pt-3 border-t-2" :style="'border-color: ' + theme.accent">
            <span class="text-[15px] font-bold">Total</span>
            <span class="text-[15px] font-bold" :style="'color: ' + theme.primary" x-text="'$' + total.toFixed(2)"></span>
        </div>
    </div>
</div>
